p.wp-block-tag-cloud a:hover{
    background:#ffbd27;
}
.wp-block-button .wp-block-button__link{
    background:#ffbd27;
    color: #fff!important;
}
.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:focus, .wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
    background-color: #ffbd27;
    color: #fff;
    border-color: #ffbd27;
}
.wp-block-file .wp-block-file__button, .wp-block-button.is-style-outline .wp-block-button__link{
    border-color:#ffbd27!important;
    color:#ffbd27!important;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover{
border-color:#ffbd27!important;
    color:#ffbd27!important;
}
.has-media-on-the-right  img{
    width: 20vw!important;
    margin-left: 0px!important;
}
.wp-block-media-text__media img{
    height: auto;
    max-width: unset;
    vertical-align: middle;
    width: 91%;
    margin-left:43px;
}
.wp-block-quote:not(.is-large):not(.is-style-large), blockquote,.wp-block-quote:not(.is-large):not(.is-style-large){
    border-color: #ffbd27;
}
.sticky {
    position: relative;
    border-left: solid 4px #ffbd27;
}